[package]
name = "metta-repl"
version = "0.1.0"
edition = "2021"
description = "A shell to execute MeTTa"

[dependencies]
anyhow = { version = "1.0.75", features = ["std"] }
hyperon = { path = "../lib/" }
# rustyline = { version = "12.0.0", features = ["derive"] }
# rustyline = {git = "https://github.com/luketpeterson/rustyline", version = "12.0.0", features = ["derive"] }
# TODO: Yay, our fix landed in main.  Still needs to publish however.  One step closer
rustyline = {git = "https://github.com/kkawakam/rustyline", version = "12.0.0", features = ["derive"] }
clap = { version = "4.4.0", features = ["derive"] }
directories = "5.0.1"
signal-hook = "0.3.17"
pyo3 = { version = "0.19.2", features = ["auto-initialize"], optional = true }
semver = { version = "1.0.18", optional = true }

[[bin]]
name = "metta"
path = "src/main.rs"

[features]
# default = ["python", "minimal"]
python = ["pyo3", "semver"]
minimal = ["hyperon/minimal"]
