name: ci manual

on:
  workflow_dispatch:
    inputs:
      fail-fast:
        description: 'Fail the build after single job fails'
        required: true
        default: false
        type: boolean
      os:
        description: 'JSON array of OS to be checked'
        required: true
        default: "[\"ubuntu-22.04\", \"ubuntu-24.04\", \"macos-13\", \"macos-14\", \"macos-15\", \"windows-latest\"]"
        type: string
      python-version:
        description: 'JSON array of Python versions to be checked'
        required: true
        default: "[\"3.8\", \"3.9\", \"3.10\", \"3.11\", \"3.12\", \"3.13\"]"
        type: string
      cmake-version:
        description: 'JSON array of CMake versions to be checked'
        required: true
        default: "[\"3.24.x\"]"
        type: string
      build-type:
        description: 'JSON array of build types to be checked'
        required: true
        default: "[\"Debug\", \"Release\", \"RelWithDebInfo\", \"MinSizeRel\"]"
        type: string
      run-das-tests:
        description: 'Run DAS integration tests'
        required: true
        default: true
        type: boolean

jobs:
  ci-manual:
    strategy:
      fail-fast: ${{ inputs.fail-fast }}
      matrix:
        os: ${{ fromJson(inputs.os) }}
        python-version: ${{ fromJson(inputs.python-version) }}
        cmake-version: ${{ fromJson(inputs.cmake-version) }}
        build-type: ${{ fromJson(inputs.build-type) }}
      max-parallel: 5

    uses: ./.github/workflows/common.yml
    with:
      os: ${{ matrix.os }}
      python-version: ${{ matrix.python-version }}
      cmake-version: ${{ matrix.cmake-version }}
      build-type: ${{ matrix.build-type }}

  das-tests:
    if: ${{ inputs.run-das-tests }}
    strategy:
      matrix:
        os: ${{ fromJson(inputs.os) }}
      max-parallel: 5
    needs: ci-manual
    uses: ./.github/workflows/das-tests.yml
    with:
      os: ${{ matrix.os }}
