# This reusable workflow builds the project and tests it.

# This workflow uses actions that are not certified by GitHub.  They are
# provided by a third-party and are governed by separate terms of service,
# privacy policy, and support documentation.

name: common

on:
  workflow_call:
    inputs:
      python-version:
        description: "A version of a python interpreter to use"
        default: "3.8"
        required: false
        type: string
      os:
        description: "A container which is used to make a build"
        default: "ubuntu-22.04"
        required: false
        type: string
      cmake-version:
        description: "CMake version to use"
        default: "3.24.x"
        required: false
        type: string
      build-type:
        description: "One of the {Debug, Release, MinSizeRel, RelWithDebInfo} (or maybe custom) build types"
        default: "Debug"
        required: false
        type: string
      publish-doc:
        description: "Build and publish documentation flag"
        default: false
        required: false
        type: boolean

env:
  CMAKE_CONFIG_ARGUMENT: "${{ startsWith(inputs.os, 'windows') && format('--config {0}', inputs.build-type) || '' }}"
  CMAKE_BUILD_TYPE_VARIABLE: "${{ !startsWith(inputs.os, 'windows') && format('-DCMAKE_BUILD_TYPE={0}', inputs.build-type) || ''}}"

jobs:
  build-all:
    runs-on: ${{ inputs.os }}

    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Install Rust stable
        uses: actions-rs/toolchain@v1.0.6
        with:
          toolchain: stable
          override: true

      - name: Install protobuf-compiler (required by DAS)
        shell: bash
        run: |
          if [[ "${{ inputs.os }}" == *"ubuntu"* ]]; then
            sudo apt-get update
            sudo apt-get install -y protobuf-compiler
          elif [[ "${{ inputs.os }}" == *"macos"* ]]; then
            brew install protobuf
          elif [[ "${{ inputs.os }}" == *"windows"* ]]; then
            choco install protoc -y
          fi

      - name: Build Rust library
        working-directory: ./lib
        run: |
          cargo build

      - name: Check Rust REPL
        working-directory: ./repl
        run: |
          cargo check
          cargo check --features python,git

      - name: Test Rust build
        shell: bash
        run: cargo test --features git,online-test

      - name: Build Rust API documentation
        if: ${{ inputs.publish-doc }}
        shell: bash
        run: cargo doc --no-deps

      - name: Install cbindgen
        uses: actions-rs/cargo@v1.0.1
        with:
          command: install
          args: cbindgen

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ inputs.python-version }}

      - name: Install CMake
        uses: lukka/get-cmake@v4.1.1
        with:
          cmakeVersion: ${{ inputs.cmake-version }}

      - name: Install Conan
        uses: turtlebrowser/get-conan@v1.2
        with:
          version: "2.19.1"

      - name: Setup Conan profile
        shell: bash
        run: |
          conan profile detect --force

      - name: Install Doxygen
        if: ${{ inputs.publish-doc }}
        uses: ssciwr/doxygen-install@v1
        with:
          version: "1.14.0"

      - name: Print environment
        shell: bash
        run: |
          echo "uname -a"
          uname -a
          echo "rustc --version"
          rustc --version
          echo "cbindgen --version"
          cbindgen --version
          echo "python --version"
          which python
          python --version
          python -c "import platform; print(platform.platform())"
          echo "python3 --version"
          which python3
          python3 --version
          python3 -c "import platform; print(platform.platform())"
          echo "conan version"
          conan version
          echo "conan profile show"
          conan profile show
          echo "gcc --version"
          gcc --version
          echo "g++ --version"
          g++ --version
          echo "cmake --version"
          cmake --version
          file $(which cmake)
          echo "make --version"
          make --version
          file $(which make)

      - name: Setup C API build
        run: |
          mkdir -p build
          cd build
          cmake ${{env.CMAKE_BUILD_TYPE_VARIABLE}} ..

      - name: Build C API
        working-directory: ./build
        shell: bash
        run: cmake --build . ${{ env.CMAKE_CONFIG_ARGUMENT }}

      - name: Test C API
        working-directory: ./build
        shell: bash
        run: cmake --build . --target check ${{ env.CMAKE_CONFIG_ARGUMENT }}

      - name: Build C API documentation
        if: ${{ inputs.publish-doc }}
        working-directory: ./build
        shell: bash
        env:
          CMAKE_CURRENT_SOURCE_DIR: ../c/
          HYPERONC_INCLUDE_DIR: ./hyperonc-install/include/hyperonc/hyperon/
        run: doxygen ../c/hyperonc.doxyfile

      - name: Build MeTTa API documentation
        if: ${{ inputs.publish-doc }}
        run: cargo run --release --bin metta-repl ./mkdocs.metta

      - name: Build Python API documentation and common site
        if: ${{ inputs.publish-doc }}
        run: |
          pip install mkdocs-material==9.7.0 mkdocs-minify-plugin==0.8.0 mkdocstrings[python]==0.26.1
          mkdocs build

      - name: Deploy documentation
        if: ${{ inputs.publish-doc }}
        run: |
          mv ./target/doc ./site/rust
          mv ./build/html ./site/c
          pip install ghp-import==2.1.0
          ghp-import -m 'Deploy documentation' --push --force --no-history --remote=origin --branch=gh-pages ./site
